.card-serie{
    max-width: 150px;
    min-width: 150px;
    margin: 10px;
}

.card-body-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.card-body-flex .card-footer, .card-body-flex .card-header{
    padding: 8px;
    font-size: 12px;
}